@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Gradient text styling */
.text-gradient {
  background: linear-gradient(to left, #d1d5db, #363636);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.btn {
  @apply inline-block bg-zinc-900 hover:bg-zinc-700 text-white py-2 px-6 border border-zinc-400 transition duration-300;
}

.h1 {
  @apply text-4xl font-bold mb-4 mx-[15%];
}

.background-image-wrapper {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  position: relative;
}

.bg-opacity-50 {
  backdrop-filter: blur(10px);
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 480px) { 
  .btn {
    @apply text-sm py-1 px-4 rounded-md;
  }
  .h1 {
    @apply text-lg font-bold mb-4 mx-0;
  }
}

